/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}

.container{
    margin: 0 auto;
    width: 75%;
}

.row{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

button > a{
    display: inline-block;
}

button{
    border: none;
}

li{
    list-style: none;
}

.parag{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}

button:hover{
    box-shadow: 0px 5px 10px black;
}

/* inizio header */
header{
    height: 80px;
    background-color: rgb(37,94,232);
    display: flex;
    align-items: center;
}

header .row .logo{
    padding-left: 8px;
}

/* lista link  */
header .row nav{
    width: 60%;
    text-align: center;
    padding-top: 6px;
}

header .row nav ul{
    display: flex;
    justify-content: space-between;
    
}

header .row .logo, .account{
    width: 20%;
}

/* sezione a destra con button */
header .row .account{
    text-align: right;
    padding-right: 8px;
}

header .row .account button{
    border-radius: 16px;
}

header .row .account button a{
    padding: 10px 15px;
    color: black;   
}

/* fine header/ */

/* inizio main  */

/* regole settori main  */
main .big-box{
    padding-top: 50px;
    padding-bottom: 50px;
}

main .big-box .container{
    height: 50vh;
}

main .grey{
    background-color: lightgrey;
}


/* SETTORE 1  */
main .blue{
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

main .blue .container{
    width: 50%;
    text-align: center;
    color: white;
}
/* titolo  */
h1{
    font-size: 45px;
}

.blue .container #first-title{
    margin: 20px 0 40px;
}
/* pulsanti download */
.blue .container .col button{
    border-radius: 20px;
    margin-left: 15px;
}

.blue .container .col .Mac{
    color: black;
}

.blue .container .col .Brow{
    background-color: black;
}

.blue .container .col button a{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 20px;
}

/* REGOLE SEZIONI RIPETUTE  */
.row .small{
    width: 30%;
    padding-top: 30px;
}

.row .fat{
    width: 70%;
}

h2{
    font-size: 40px;
}

img{
    height: 95%;
}

.row .small .parag{
    margin-top: 50px;
}
/* SETTORE 3 */

#second-image{
    float: right;
}

/* SETTORE 5 */
main .grey .darkgreen{
    height: 100vh;
    padding-top: 30px;
}

.grey .darkgreen .row{
    width: 100%
}

.grey .darkgreen .row .col{
    text-align: center;
    width: 100%;
}

#fourth-image{
    height: 100%;
}

.grey .darkgreen .col h2{
    margin-bottom: 30px;
}

.grey .darkgreen. .col .parag{
    margin-bottom: 0;
}

/* MINI CONTAINER */
main .mini-container{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

h4{
    font-size: 30px;
    padding: 30px 30px 0;
    margin-bottom: 40px;
    background-image: url('../img/stars.svg');
    background-size: contain;
}

.mini-container .col{
    text-align: center;
}

.mini-container button{
    border-radius: 20px;
    background-color: rgba(135, 124, 238, 0.7);
}

.mini-container .Mac{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 20px;
}
/* FINE MAIN  */

/* FOOTER  */
 footer{
    background-color: rgb(35, 35, 35);
    padding-top: 5px;
 }

 /* inizio contenitore opzioni  */
 footer .options{
    margin-bottom: 20px;
    margin-top: 60px;
 }

 h3{
    font-size: 32px;
    margin-bottom: 30px;
 }

 .options .col-left{
    width: calc(100% / 3);
    padding-right: 80px;
    display: flex;
    flex-direction: column;
 }

 .options .col-left #ita{
    width: 20px;
 }

 .options .col-left a{
    vertical-align:top;
 }
 .options .col-left a::after{
    content: '\2228';
 }

 .options .col-right{
    width: calc(100% / 3 * 2);
 }

 .options .col-right .row .col{
    width: calc(100% / 4);
 }

 .options .col-right .row .col ul{
    display: flex;
    flex-direction: column;
 }

 .options .col-right .row .col ul li{
    margin-bottom: 10px;
 }

 ul li:not(:first-child){
    color:white;
 }

 h3,li:first-child{
    color: rgba(135, 124, 238, 0.7);
 }

 /* fine contenitore opzioni  */

 hr{
   border-color:rgba(135, 124, 238, 0.7);
   margin-top: 25px;
 }

 /* inizio container finale */
 .last{
    height: 80px;
    padding-bottom: 25px;
 }
 .last .row{
    justify-content: space-between;
 }

 .last .row button{
    border-radius: 16px;
 }

 .last .row button a{
    padding: 10px 15px;
    background-color: rgba(135, 124, 238, 0.7);
    border-radius: 16px;
 }
 


 /* fine footer  */